# 유니티가 생성하는 불필요한 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# 유니티가 자동으로 생성하는 파일들
sysinfo.txt
*.pidb
*.booproj
*.svd
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo

# Visual Studio Code 관련 설정 폴더
.vscode/

# JetBrains Rider 관련 설정 폴더
.idea/
*.sln.iml

# 운영체제에서 생성하는 불필요한 파일
.DS_Store
Thumbs.db

# Firebase Crashlytics 관련 (사용 시)
crashlytics-build.properties

# 라이트맵 데이터 자동 생성 파일
LightingData.asset

# 유니티 에셋 스토어 도구 폴더
Assets/AssetStoreTools*

# 어드레서블 에셋 관련 자동 생성 파일
Assets/AddressableAssetsData/*/*.bin*
Assets/AddressableAssetsData/*/*.link*
Assets/AddressableAssetsData/*/*.json
Assets/AddressableAssetsData/*/*.hash

# Unity Collaborate 기능 관련 파일
.collabignore
.collab/

# StreamingAssets 내 Addressables 데이터
StreamingAssets/aa.meta
StreamingAssets/aa/
